.nav {
  display: flex;
  align-items: center;
  background: #dbe2ef;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  &__logo {
    width: 20%;
    img {
      display: block;
      margin: 0 auto;
      width: 100px;
      border-top-left-radius: 10px;
    }
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
  }

  ul {
    width: 80%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    li {
      margin: 0 20px;
    }
  }
}
