.search-bar {
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 5px;
  padding: 0 0 0 50px;
  &:focus {
    outline: none;
  }
  &::placeholder {
    text-transform: uppercase;
  }
}

.search-form {
  width: 100%;
}
